@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,900&family=Source+Sans+Pro:wght@400;600&display=swap");
body {
  margin: 0;
  font-family: 'Montserrat';
}

body.no_scroll {
  position: relative;
  overflow-y: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, select {
  border: none;
  background: transparent;
}

input:focus, select:focus {
  outline: none;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

img {
  max-width: 100%;
  min-height: auto;
}

.subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}

.modal {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
  background: rgba(0, 0, 0, 0.25);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal .mobile_menu {
  width: 96%;
  padding: 20px;
  background: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.modal .mobile_menu.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.modal .mobile_menu .mobile_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .mobile_menu .mobile_header .logo img {
  width: 50px;
}

.modal .mobile_menu .mobile_header .close_btn {
  cursor: pointer;
  font-size: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

.modal .mobile_menu ul {
  padding-top: 20px;
}

.modal .mobile_menu ul li {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .mobile_menu ul li a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #333;
  text-decoration: underline;
  width: 100%;
}

.modal .mobile_menu .mobile_contacts {
  padding-top: 20px;
}

.modal .mobile_menu .mobile_contacts div a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #333;
}

.modal .mobile_menu p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  padding-top: 30px;
}

#header {
  padding: 15px 0 0;
  position: relative;
  z-index: 1000;
  background: #fff;
}

@media (max-width: 768px) {
  #header {
    padding: 10px 0 0;
  }
}

#header .top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  #header .top_menu .logo img {
    width: 50px;
  }
}

@media (max-width: 768px) {
  #header .top_menu .logo img {
    width: 40px;
  }
}

#header .top_menu .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .top_menu .logo a .logo_txt {
  max-width: 225px;
  margin-left: 16px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

@media (max-width: 991px) {
  #header .top_menu .logo a .logo_txt {
    line-height: 14px;
    max-width: 150px;
    margin-left: 12px;
  }
}

#header .top_menu .burger_menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 890px) {
  #header .top_menu .burger_menu {
    display: block;
  }
}

#header .top_menu .burger_menu .burger_lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 36px;
  height: 24px;
}

#header .top_menu .burger_menu .burger_lines .line {
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 4px;
  margin: 3px 0;
}

#header .top_menu .burger_menu p {
  font-size: 11px;
  margin-top: 3px;
  text-align: center;
}

@media (max-width: 890px) {
  #header .top_menu .menus_block {
    display: none;
  }
}

#header .top_menu .menus_block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .top_menu .menus_block ul li {
  margin-left: 30px;
}

#header .top_menu .menus_block ul li a {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

#header .top_menu .menus_block .header_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
}

#header .top_menu .menus_block .header_contacts .city_select select {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  border: none;
  background: transparent;
  max-width: 90px;
  width: 100%;
}

#header .top_menu .menus_block .header_contacts .header_line {
  width: 1px;
  height: 38px;
  background: #C4C4C4;
  border-radius: 1px solid #C4C4C4;
  margin: 0 20px;
}

@media (max-width: 1200px) {
  #header .top_menu .menus_block .header_contacts .header_line {
    margin: 0 10px;
    height: 20px;
  }
}

#header .top_menu .menus_block .header_contacts .header_address {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

@media (max-width: 1200px) {
  #header .top_menu .menus_block .header_contacts .header_address {
    font-size: 12px;
  }
}

#header .top_menu .menus_block .header_contacts .header_phone a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

@media (max-width: 1200px) {
  #header .top_menu .menus_block .header_contacts .header_phone a {
    font-size: 12px;
  }
}

#header .top_menu .menus_block .header_contacts .header_phone_ml {
  margin-left: 20px;
}

.menus_icon {
  padding: 10px 0;
}

@media (max-width: 890px) {
  .menus_icon {
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    z-index: 999;
    top: -1px;
    -webkit-box-shadow: -1px -12px 20px #000;
            box-shadow: -1px -12px 20px #000;
  }
}

.menus_icon .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menus_icon .header_menu .search_div {
  width: 100%;
}

.menus_icon .header_menu .search_div form input {
  width: 100%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  border: none;
  padding: 7px 0;
  border-bottom: 1px solid #C4C4C4;
}

.menus_icon .header_menu .search_div form input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.menus_icon .header_menu .search_div form input:-ms-input-placeholder {
  color: #C4C4C4;
}

.menus_icon .header_menu .search_div form input::-ms-input-placeholder {
  color: #C4C4C4;
}

.menus_icon .header_menu .search_div form input::placeholder {
  color: #C4C4C4;
}

.menus_icon .header_menu .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menus_icon .header_menu .icons .icons_item {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .menus_icon .header_menu .icons .icons_item select {
    display: none;
  }
}

.menus_icon .header_menu .icons .icons_item p {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

@media (max-width: 768px) {
  .menus_icon .header_menu .icons .icons_item p {
    display: none;
  }
}

.menus_icon .header_menu .icons .register {
  width: 120px;
}

@media (max-width: 768px) {
  .menus_icon .header_menu .icons .register {
    width: auto;
  }
}

.header_about .third_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #91A2A8;
  padding: 20px 30px;
  margin-top: 20px;
}

@media (max-width: 890px) {
  .header_about .third_header {
    padding: 14px;
  }
}

@media (max-width: 768px) {
  .header_about .third_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header_about .third_header .third_header_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header_about .third_header .third_header_item {
    margin: 10px 0;
  }
}

.header_about .third_header .third_header_item .third_header_icon {
  min-width: 40px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #778A90;
  margin-right: 7px;
}

.header_about .third_header .third_header_item .third_header_txt {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.header_about .third_header .third_header_item .third_header_txt strong {
  font-weight: 700;
}

.header_about .third_header .third_header_line {
  height: 57px;
  width: 1px;
  background: #778A90;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .header_about .third_header .third_header_line {
    display: none;
  }
}

.categories {
  padding: 5px 0;
}

@media (max-width: 991px) {
  .categories .container {
    padding: 0;
  }
}

.categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  .categories ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    padding: 10px 0 18px;
  }
}

.categories ul li {
  margin: 10px;
}

@media (max-width: 991px) {
  .categories ul li {
    margin: 4px 20px 0 0;
  }
  .categories ul li:first-child {
    padding-left: 20px;
  }
}

@media (max-width: 991px) and (max-width: 576px) {
  .categories ul li:first-child {
    padding-left: 10px;
  }
}

.categories ul li a {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.categories ul li a span {
  display: none;
}

@media (max-width: 768px) {
  .categories ul li a span {
    display: block;
  }
}

@media (max-width: 991px) {
  .categories ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 14px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

#content .content_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#content .content_wrap .content_item {
  position: relative;
  width: 32%;
  margin: 14px 0;
  overflow: hidden;
  text-align: center;
  background: #F5F5F5;
}

@media (max-width: 576px) {
  #content .content_wrap .content_item {
    width: 49%;
  }
}

#content .content_wrap .content_item:first-child, #content .content_wrap .content_item:nth-child(2) {
  width: 49%;
}

#content .content_wrap .content_item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#content .content_wrap .content_item img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s all;
  transition: .4s all;
}

#content .content_wrap .content_item .content_desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 77px;
  background: rgba(119, 138, 144, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #content .content_wrap .content_item .content_desc {
    min-height: 60px;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 460px) {
  #content .content_wrap .content_item .content_desc {
    min-height: 40px;
    font-size: 11px;
    line-height: 14px;
  }
}

#product_slider {
  padding: 40px 0;
}

@media (max-width: 576px) {
  #product_slider {
    padding: 70px 0 40px;
  }
}

#product_slider .container {
  position: relative;
  z-index: 1;
}

#product_slider .container .arrow-icon {
  position: absolute;
  top: 25%;
  z-index: 1;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  #product_slider .container .arrow-icon {
    top: -50px;
  }
}

#product_slider .container .right-arrow {
  right: 20px;
}

#product_slider .container .right-arrow img {
  -webkit-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px);
}

#product_slider .container .left-arrow {
  left: 20px;
}

#product_slider .container .left-arrow img {
  -webkit-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
}

@media (max-width: 576px) {
  #product_slider .container .left-arrow {
    left: auto;
    right: 80px;
  }
}

#product_slider .container .slider_wrapper .slick-slide {
  margin: 0 10px;
}

#product_slider .container .slider_wrapper .slick-list {
  margin: 0 -10px;
}

#product_slider .container .slider_wrapper .slider_item {
  min-height: 171px;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product_slider .container .slider_wrapper .slider_item .slider_icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #91A2A8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 14px;
}

#product_slider .container .slider_wrapper .slider_item a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 576px) {
  #product_slider .container .slider_wrapper .slider_item a {
    font-size: 12px;
    font-weight: 600;
  }
}

#product_slider .container .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#product_slider .container .blocks .blocks_item {
  max-width: 380px;
  width: 100%;
  min-height: 104px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  #product_slider .container .blocks .blocks_item {
    margin: 10px 0;
  }
}

#product_slider .container .blocks .blocks_item:first-child {
  margin-left: 0;
}

#product_slider .container .blocks .blocks_item:last-child {
  margin-right: 0;
}

#product_slider .container .blocks .blocks_item .blocks_icon {
  text-align: center;
}

@media (max-width: 576px) {
  #product_slider .container .blocks .blocks_item .blocks_icon {
    width: 40px;
    margin: 0 auto 7px;
  }
}

#product_slider .container .blocks .blocks_item h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  #product_slider .container .blocks .blocks_item h4 {
    font-size: 10px;
    line-height: 12px;
  }
}

#products .products_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#products .products_div .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  min-height: 320px;
  padding: 20px;
  margin: 10px 0;
  background: #F5F5F5;
}

@media (max-width: 991px) {
  #products .products_div .product {
    min-height: auto;
  }
}

@media (max-width: 768px) {
  #products .products_div .product {
    padding: 16px;
  }
}

@media (max-width: 576px) {
  #products .products_div .product {
    width: 100%;
  }
}

#products .products_div .product:nth-child(3) {
  background: transparent;
  border: 1px solid #E0E0E0;
}

#products .products_div .product:nth-child(2) {
  background: transparent;
  border: 1px solid #E0E0E0;
}

#products .products_div .product .product_info {
  max-width: 370px;
}

#products .products_div .product .product_info h5 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

@media (max-width: 768px) {
  #products .products_div .product .product_info h5 {
    font-size: 13px;
    line-height: 16px;
  }
}

#products .products_div .product .product_info h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000;
  text-transform: uppercase;
  margin: 10px 0 12px;
}

@media (max-width: 991px) {
  #products .products_div .product .product_info h3 {
    font-size: 16px;
    line-height: 21px;
    margin: 10px 0 7px;
  }
}

@media (max-width: 768px) {
  #products .products_div .product .product_info h3 {
    font-size: 13px;
    line-height: 16px;
    margin: 5px 0 7px;
  }
}

#products .products_div .product .product_info h6 {
  max-width: 272px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

@media (max-width: 991px) {
  #products .products_div .product .product_info h6 {
    font-size: 12px;
    line-height: 16px;
  }
}

#products .products_div .product .product_img {
  margin-left: 30px;
}

@media (max-width: 1024px) {
  #products .products_div .product .product_img {
    margin-left: 20px;
    min-width: 90px;
  }
}

@media (max-width: 768px) {
  #products .products_div .product .product_img {
    margin-left: 7px;
    min-width: 60px;
  }
}

@media (max-width: 576px) {
  #products .products_div .product .product_img {
    max-width: 100px;
  }
}

#brands {
  padding: 50px 0 40px;
}

@media (max-width: 576px) {
  #brands {
    padding: 30px 0;
  }
}

#brands h3 {
  margin-bottom: 40px;
}

#brands table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid white;
}

#brands table td {
  border: 1px solid #C4C4C4;
  text-align: center;
  padding: 10px;
}

#proffessionals {
  padding: 40px 0;
  background: #F5F5F5;
}

#proffessionals h6 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-transform: capitalize;
  margin: 12px 0 30px;
  text-align: center;
}

#proffessionals .proff_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  #proffessionals .proff_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

#proffessionals .proff_wrap .proff_item {
  max-width: 260px;
  width: 100%;
  margin: 0 10px;
}

@media (max-width: 768px) {
  #proffessionals .proff_wrap .proff_item {
    max-width: inherit;
    width: 47%;
    margin-top: 6px;
    margin-bottom: 10px;
  }
  #proffessionals .proff_wrap .proff_item:nth-child(2n+1) {
    margin-left: 0;
  }
  #proffessionals .proff_wrap .proff_item:nth-child(2n) {
    margin-right: 0;
  }
}

#proffessionals .proff_wrap .proff_item:first-child {
  margin-left: 0;
}

#proffessionals .proff_wrap .proff_item:last-child {
  margin-right: 0;
}

#proffessionals .proff_wrap .proff_item .proff_img {
  margin-bottom: 7px;
}

#proffessionals .proff_wrap .proff_item a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

@media (max-width: 768px) {
  #proffessionals .proff_wrap .proff_item a {
    font-size: 14px;
    line-height: 16px;
  }
}

#proffessionals .learn_more {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#info {
  padding: 40px 0;
}

#info .info_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

@media (max-width: 576px) {
  #info .info_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#info .info_wrap .info_img {
  width: 49%;
}

@media (max-width: 576px) {
  #info .info_wrap .info_img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #info .info_wrap .mobile_cl {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

#info .info_wrap .info_desc {
  width: 49%;
}

@media (max-width: 576px) {
  #info .info_wrap .info_desc {
    width: 100%;
  }
}

#info .info_wrap .info_desc h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media (max-width: 890px) {
  #info .info_wrap .info_desc h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 576px) {
  #info .info_wrap .info_desc h3 {
    margin-top: 10px;
  }
}

#info .info_wrap .info_desc p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000;
}

@media (max-width: 890px) {
  #info .info_wrap .info_desc p {
    font-size: 14px;
    line-height: 21px;
  }
}

#access {
  padding: 40px 0 0;
  margin-bottom: 40px;
  background: #F5F5F5;
}

@media (max-width: 1024px) {
  #access {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

#access .access_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  #access .access_wrap {
    display: block;
  }
}

#access .access_wrap .access_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #access .access_wrap .access_img {
    display: none;
  }
}

#access .access_wrap .access_desc {
  max-width: 596px;
  width: 100%;
  margin-left: 40px;
}

@media (max-width: 1024px) {
  #access .access_wrap .access_desc {
    margin-left: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  #access .access_wrap .access_desc {
    padding-bottom: 40px;
  }
}

#access .access_wrap .access_desc h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  #access .access_wrap .access_desc h3 {
    font-size: 18px;
    line-height: 28px;
  }
}

#access .access_wrap .access_desc ul {
  margin-left: 20px;
}

#access .access_wrap .access_desc ul li {
  list-style-type: disc;
  margin: 14px 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

@media (max-width: 1024px) {
  #access .access_wrap .access_desc ul li {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0;
  }
}

@media (max-width: 1024px) {
  #access .access_wrap .access_desc .access_btn {
    margin-top: 18px;
  }
}

#access .access_wrap .access_desc .access_btn button {
  width: 168px;
  height: 40px;
  font-size: 14px;
  color: #333;
  background: transparent;
  border: 1px solid #333;
  border-radius: none;
  text-transform: Normal;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#access .access_wrap .access_desc .access_btn button:focus {
  outline: none;
}

#access .access_wrap .access_desc .access_btn button:hover {
  background: #333;
  color: #fff;
  cursor: pointer;
}

#access .access_wrap .access_desc p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin: 30px 0 20px;
}

@media (max-width: 1024px) {
  #access .access_wrap .access_desc p {
    font-size: 12px;
    line-height: 16px;
    margin: 14px 0 10px;
  }
}

#access .access_wrap .access_desc h4 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

@media (max-width: 1024px) {
  #access .access_wrap .access_desc h4 {
    font-size: 18px;
    line-height: 21px;
  }
}

footer {
  padding: 40px 0 20px;
}

footer .footer_wrap .footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  footer .footer_wrap .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

footer .footer_wrap .footer_top .footer_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .footer_wrap .footer_top .footer_search h5 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

@media (max-width: 576px) {
  footer .footer_wrap .footer_top .footer_search h5 {
    display: none;
  }
}

footer .footer_wrap .footer_top .footer_search input {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  background: #fff;
  border: 1px solid #C4C4C4;
  max-width: 434px;
  width: 100%;
  height: 40px;
  margin-left: 25px;
  padding: 0 7px;
}

footer .footer_wrap .footer_top .footer_search input:focus {
  outline: none;
}

@media (max-width: 576px) {
  footer .footer_wrap .footer_top .footer_search input {
    margin-left: 0;
  }
}

footer .footer_wrap .footer_top .footer_search button {
  width: 173px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  background: #91A2A8;
  border: none;
  border-radius: none;
  text-transform: Normal;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 14px;
  padding: 0 12px;
}

footer .footer_wrap .footer_top .footer_search button:hover {
  opacity: .8;
}

footer .footer_wrap .footer_top .footer_search button:focus {
  outline: none;
}

footer .footer_wrap .footer_top .footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  footer .footer_wrap .footer_top .footer_icons {
    margin-top: 18px;
  }
}

footer .footer_wrap .footer_top .footer_icons .footer_icon {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  footer .footer_wrap .footer_top .footer_icons .footer_icon:first-child {
    margin-left: 0;
  }
}

footer .footer_wrap .footer_menu {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  footer .footer_wrap .footer_menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  footer .footer_wrap .footer_menu {
    padding-top: 20px;
  }
}

@media (max-width: 991px) {
  footer .footer_wrap .footer_menu .footer_menu_item {
    margin: 20px 20px 0 0;
  }
}

footer .footer_wrap .footer_menu .footer_menu_item h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin-bottom: 4px;
}

footer .footer_wrap .footer_menu .footer_menu_item ul li {
  margin: 10px 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

footer .footer_wrap .footer_menu .footer_menu_item ul li a {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

footer .footer_wrap .footer_menu .footer_menu_item ul .footer_phone {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

footer .footer_wrap .footer_menu .footer_menu_item ul .footer_link {
  color: #778A90;
  text-decoration: underline;
  line-height: 18px;
}

footer .footer_wrap .footer_menu .footer_menu_item .footer_extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_wrap .footer_menu .footer_menu_item .footer_extra ul:last-child {
  margin-left: 30px;
}

footer .footer_wrap .footer_last_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

@media (max-width: 991px) {
  footer .footer_wrap .footer_last_txt {
    display: block;
    text-align: center;
  }
}

footer .footer_wrap .footer_last_txt p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

@media (max-width: 991px) {
  footer .footer_wrap .footer_last_txt p {
    margin-bottom: 7px;
  }
}

footer .footer_wrap .footer_last_txt a {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

.lk_block {
  padding: 0 0 30px;
}

.lk_block .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lk_block .links ul li {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.lk_block .links ul li a {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.lk_block .links .lk_menus {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .lk_block .links .lk_menus {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.lk_block .links .lk_menus li {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .lk_block .links .lk_menus li {
    margin: 10px;
  }
}

.lk_block .links .lk_menus li a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.lk_block .links .lk_menus li a.active {
  text-decoration: underline;
}

.lk_block .diskaunt_graphic h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #393939;
}

.lk_block .diskaunt_graphic p {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #393939;
  padding-top: 7px;
}

.lk_block .diskaunt_graphic p span {
  margin-left: 10px;
}

.lk_block .diskaunt_graphic .graphic {
  position: relative;
  max-width: 1073px;
  width: 100%;
  margin: 40px auto 30px;
  border-radius: 7px;
  border: 4px solid #E0E0E0;
}

@media (max-width: 768px) {
  .lk_block .diskaunt_graphic .graphic {
    margin: 96px auto 30px;
  }
}

.lk_block .diskaunt_graphic .graphic::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 55%;
  border-radius: 7px;
  border: 4px solid #019934;
}

.lk_block .diskaunt_graphic .graphic .graphic_item {
  position: absolute;
  top: -70px;
  left: 24%;
}

.lk_block .diskaunt_graphic .graphic .graphic_item:nth-child(2) {
  left: 55%;
}

.lk_block .diskaunt_graphic .graphic .graphic_item .graphic_prosent {
  position: relative;
  min-width: 58px;
  min-height: 58px;
  background: #91A2A8;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lk_block .diskaunt_graphic .graphic .graphic_item .graphic_prosent::before {
  position: absolute;
  top: 100%;
  content: '';
  height: 8px;
  width: 2px;
  background: #019934;
}

.lk_block .diskaunt_graphic .graphic .graphic_item .graphic_prosent p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 0;
  text-align: center;
}

.lk_block .diskaunt_graphic .graphic .graphic_item .graphic_prosent p span {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-left: 0;
}

.lk_block .diskaunt_graphic .graphic .graphic_item .no_active::before {
  background: #E0E0E0;
}

.lk_block .diskaunt_graphic .graphic .graphic_item h5 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #393939;
  padding-top: 25px;
}

.lk_block .diskaunt_graphic .red_txt {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #EB5757;
  padding-top: 20px;
  text-align: center;
}

.lk_block .orders {
  padding: 40px 0;
}

.lk_block .orders .orders_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .lk_block .orders .orders_header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.lk_block .orders .orders_header h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #393939;
}

@media (max-width: 768px) {
  .lk_block .orders .orders_header h3 {
    padding-bottom: 10px;
  }
}

.lk_block .orders .orders_header .header_selects select {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #4F4F4F;
  background: #F2F2F2;
  width: 160px;
  height: 40px;
  padding: 0 5px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .lk_block .orders .orders_header .header_selects select {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.lk_block .orders table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.lk_block .orders table tr {
  background: #F2F2F2;
}

.lk_block .orders table tr:nth-child(2n) {
  background: #fff;
}

@media (max-width: 768px) {
  .lk_block .orders table tr {
    display: block;
  }
}

.lk_block .orders table tr td, .lk_block .orders table tr th {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #4F4F4F;
  padding: 7px;
}

.lk_block .orders table tr td a, .lk_block .orders table tr th a {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2D9CDB;
}

.lk_block .orders table tr td a svg, .lk_block .orders table tr th a svg {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .lk_block .orders table tr td, .lk_block .orders table tr th {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.lk_block .orders table tr th {
  text-align: left;
}

.lk_block .orders table tr th h3 {
  padding: 16px 0 5px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #393939;
}

.lk_block .orders table tr td::before {
  content: attr(data-label);
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #4F4F4F;
}

@media (max-width: 768px) {
  .lk_block .orders table .table_th {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */